@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0px;
    margin: 0px;

}

html {
    width: 100%;
    font-size: 62.5;
    font-family: sans-serif;
}

#cabecalho {
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    height: 65px;
    background: #F2DB1E;
    border-bottom: 1px solid #4d4d4d;
    /*border: 1px solid red;*/
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1220px;


    /* border: 1px solid red;*/
}

.logo {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: white;
    background: black;
    padding: 1rem;


}

#navBar {}

#navBar__list {
    display: flex;
    padding: 0px;
    margin: 0px;
}

.list_bar a {
    padding: 15px;
    font-size: 1.2rem;
    margin: 0px 10px;
    color: black;
    font-weight: 400;
    text-decoration: none;

}

.list_bar a:hover {
    color: rgb(75, 75, 75);
}

a {
    height: fit-content;
    text-decoration: none;
}

#conteudo {}

#containerWidth {
    display: flex;
    justify-content: center;
    background: #F2DB1E;
}

.hero {
    width: 1220px;
}

aside {

    position: fixed;
    right: 0;
    top: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.1)
}

.iconsLink li a img {
    width: 30px;
    margin: 15px 0 15px 0;
}

.iconsLink li a img:hover {
    width: 35px;
}

#textsection {
    display: flex;
    justify-content: end;
}

.containerimgtxt {
    display: flex;
    justify-content: center;
    flex-direction: row;

    border: 1px solid;


}

.personawidth {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
    border: 1px solid;
}

.persona {

    width: 50%;
    border-radius: 270.618px;
    padding: 0 2rem;

}

#paragrafo {
    width: 50%;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

h1.text1 {
    padding: 3rem 0;
    word-wrap: break-word;
    color: #000000;
    width: 26rem;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 4rem;
}

#barra {
    background-color: #000000;
    width: 10rem;
    height: 1.2rem;
}

h1.text2 {
    padding: 3rem 0;
    display: flex;
    color: #000000;
    word-wrap: break-word;
    width: 30rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
}

#habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    background-color: #3D3D3D;
}

#habilidadeswidth {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-around;
    padding: 3rem;
    width: 100%;
    max-width: 1220px;
}

#apresentacao {
    margin: 0px 2rem;
}

#apresentacao h2 {
    padding: 0rem 0px 2rem 0px;

    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

#apresentacao p {
    text-align: justify;
    font-size: 1.5rem;
    width: 32rem;
    color: white;
}

.tituloHabilidades {
    padding: 2rem 0px 2rem 0px;
    color: #0E918C;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    display: inline-block;
    width: fit-content;
}

#stacks {
    display: flex;
    flex-direction: column;
}

#skill {
    border-radius: 5px;
    max-width: 150px;
    width: 100px;
    min-width: fit-content;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #1B1B1B;
    display: inline-block;
    color: white;
    font-weight: bold;
}

#skill:hover {

    background-color: #a3a3a3;
    color: #3D3D3D;
}

#futurosestudos {
    display: flex;
    flex-direction: column;
}

.tituloHabilidades1 {
    padding: 2rem 0px 2rem 0px;
    color: #0E918C;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    display: inline-block;
}

#projetosid {
    display: flex;
    height: fit-content;
    background-color: #202020;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding: 0px 0px 20px 0px;
}

.projetos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    width: 370px;
    height: 400px;
}

.titulosProjeto {

    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: .5rem 0px .5rem 0px;
    text-align: center;
}

.titulosProjeto:hover {
    width: fit-content;
    word-break: break-all;
    text-decoration: underline;
}

.descricaoProjetos {
    font-size: 17px;
    width: 320px;
    font-weight: 500;
    color: white;
    margin: 20px 0;
}

.projetosImagens {

    width: 320px;
    height: 200px;
    border: 0;
}

#contatos {
    display: flex;
    background-color: #3D3D3D;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 20px 0px;
}

#contatosWidth {
    width: 1220px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: fit-content;

}

#formcontato {
    margin: 0px 20px 0px 20px;
    width: 50%;
    background-color: #3D3D3D;
    display: flex;
    flex-direction: column;

}

#tituloContato {
    padding: 2rem 0px 2rem 0px;
    color: #0E918C;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    display: inline-block;
    width: fit-content;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 500px;
    height: 600px;
    border-radius: 5px;
    padding: 20px;
    background-color: #141414;
    color: #989898;
    box-shadow: rgb(0 0 0 / 90%) 0px 8px 32px 0px;
}

form input,
textarea {
    padding: 10px;
    background-color: #141414;
    width: 400px;
    margin: 10px;
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(145, 145, 145);
}

label {
    color: white;
    padding: 10px;
    display: block;
    font-size: 20px;
}

#nome {
    height: 35px;
}

#email {
    height: 35px;
}



#submit {

    width: 300px;
    padding: 10px;
    height: 35px;
    color: white;
    font-weight: bold;
    border: #0E918C 1px solid;
}

#submit:hover {
    transition: 1ms;
    background: #0E918C;
}

#submitarea {
    display: flex;
    justify-content: center;
}

#contacts {

    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.titulosContact {
    height: fit-content;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin: 32px 0;
    text-align: center;
}

#paragrafocontatos p {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: justify;
    font-size: 1rem;
    margin: 0px 20px;
    color: white;
}

.contactorganizate {
    padding: 10px;
    height: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
    justify-content: left;

}

.contactorganizate a {
    font-size: 20px;
    color: white;
    text-decoration: none;

}

.contactorganizate a:hover {
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: underline;
}

.contactorganizate img {
    margin: 0px 20px;
}

.imgiconscontact {
    width: 70px;
}








@media only screen and (max-width: 942px) {
    #navBar {
        display: none;
    }

    h1.text1 {
        padding: 3rem 0;
        word-wrap: break-word;
        color: #000000;
        width: 26rem;
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: 900;
        font-size: 3rem;
    }

    h1.text2 {
        padding: 3rem 0;
        display: flex;
        color: #000000;
        width: 30rem;
        font-family: 'IBM Plex Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5rem;

    }

    #paragrafo {
        text-align: justify;
        display: flex;
        flex-direction: column;
    }

    #barra {
        background-color: #000000;
        width: 10rem;
        height: 1.2rem;
    }
}